# Ignore all Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Lab Notebook checkpoints
.ipynb/
.ipynb_checkpoint
*.ipynb/
*.ipynb_checkpoint
.ipynb_checkpoints
*.ipynb_checkpoints
**/*.ipynb_checkpoints/

#Ignore environments
.env/
.venv/

# Ignore data and csv files
data/
*.csv
*.txt
